@model Product

<h2>@Model.Name Information!</h2>

<table class="table">

    <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category Id</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    <tr>
        <td>@Model.ProductId</td>
        <td>@Model.Name</td>
        <td>@Model.Price.ToString("c")</td>
        <td>@Model.CategoryId</td>
        <td>@Model.OnSale</td>
        <td>@Model.StockLevel</td>
    </tr>
</table>